.todo-list {
    margin-bottom: 1em;
}

.todo-item {
    display: flex;
    align-items: center;
    height: 2em;
}

.todo-title {
    margin: 0 10px;
    flex: 1;
}

.todo-item__completed {
    text-decoration: line-through;
    color: grey;
}

.trash-btn {
    display: none !important;
}

.todo-item:hover .trash-btn {
    display: block !important;
}
